

<p class="text-center mt-5 p-3 lead">
    Uygulama bir hata ile karşılaştı
    Sorun en kısa zamanda çözülecek. Teknik ekip işlemde
    <br/>
    <br/>
    <a href="" class="btn btn-primary" asp-action="Index" asp-controller="Home">Geri dön</a>

</p>