
<p class="text-center mt-5 p-3 lead">
    Sayfa bulunamadı <br />
    Hata Kodu : @ViewBag.Code
    <br/>
    <a href="" class="btn btn-primary" asp-action="Index" asp-controller="Home">Geri dön</a>

</p>