
<div class="display-4">
    <strong>@ViewBag.Fiyat- ₺</strong> 
    Satın Alma işleminiz başarı ile gerçekleşti. Bizi tercih ettiğiniz için teşekkür 
    ederiz.
    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success" >
            Geri Dön
        </a>

    </p>
</div>