<!DOCTYPE html>
<!--bu layout admin areasını ilgilendirir-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#">E Ticaret Projesi Admini</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin"
                           >Ürün İşlemleri <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link"asp-action="Index" asp-controller="Kategori" asp-area="Admin"
                           >Kategori İşlemleri <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" >Çıkış Yap <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
@RenderSection("JavaScript",false)
</body>
</html>
